.App {
  font-family: sans-serif;
  text-align: center;
}

.Btn {
  cursor: pointer;
  background: E5E7EB;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.movie {
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  width: 40%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}
